<style>
    footer.footer {
        background-color: #191970;
        color: #b0c4de;
    }
</style>
<footer class="footer py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;National University of Singapore 2021</span>
    </div>
</footer>