<style>
  nav.navbar {
    background-color:#191970;
    font-weight:bold;
  }
</style>
<nav class="navbar sticky-top text-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NUS Assistant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <i class="bi bi-person-bounding-box"></i>
        <a class="nav-link" href="/">Log out</a>
      </div>
    </div>
  </div>
</nav>