<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <style>
            #sidebarCloseContact {
                background-color: chocolate;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" style="background-color: aliceblue;">
            <h1 style="text-align: center;">Close Contact Tracing</h1>
        </div>
        <h2>Your status: <span class="badge" style="background-color: rgb(73, 196, 73);" id="userStatus">Green</span></h2>
        
        <div style="background-color: aliceblue;">
            <h4 style="text-align: center;">Positive Table</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date of testing positive</th>
                        <th scope="col">3 days' trace before positive</th> 
                    </tr>
                </thead>
                <tbody id="positiveTable">
                    <tr>
                        <td>2021.9.25</td>
                        <td>BMF5346(BIZ1-0202), FIN3117(BIZ2-0510), LC2004(LAW_CR2-1), YHU2323(Y-ArtsStud)</td>
                    </tr>
                    <tr>
                        <td>2021.9.20</td>
                        <td>MLE4203(E1-06-01), ME2112(EA-02-21), IS6101(I3-AUD), NUR41038(LT37-03-07A)</td>
                    </tr>
                    <tr>
                        <td>2021.9.18</td>
                        <td>HY2232(AS1-0201), LAF4203(AS1-0301), YSC4209(Y-CR1)</td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <script>
            window.addEventListener('load', loadHandler);

            function formatDate(date) {
                var myyear = date.getFullYear();
                var mymonth = date.getMonth() + 1;
                var myweekday = date.getDate();
                if (mymonth < 10) {
                    mymonth = "0" + mymonth;
                }
                if (myweekday < 10) {
                    myweekday = "0" + myweekday;
                }
                return (myyear + "" + mymonth + myweekday);
            }  
            
            function renderTable(objectTable){
                var positiveTable = [];//turn object array into array, but why?
                for(let i=0; i < objectTable.length; i++ ){
                    positiveTable.push(objectTable[i]);
                }
                var str = '';
                
                positiveTable.forEach(function(item){
                    str += '<tr>' ;
                    str += '<td>' + item.Date.slice(0,4)+'.'+item.Date.slice(4,6)+'.'+item.Date.slice(6,8) + '</td>' + '<td>' + item.trace + '</td>' ;
                });
                
                document.getElementById("positiveTable").innerHTML = str;
            }
            

            async function loadHandler(event){
                var status = sessionStorage.getItem('status');
                document.getElementById('userStatus').innerText = status;
                if(status=="Yellow"){
                    document.getElementById('userStatus').style.backgroundColor='yellow';
                } else if(status=="Red"){
                    document.getElementById('userStatus').style.backgroundColor='red';
                }
                var positiveTable = [];
                var test = [];
                test.push("haha");
                for(let i=0; i<14; i++){
                    var currDate = new Date();
                    var date = currDate-1000*60*60*24*i;
                    date = new Date(date);
                    date = formatDate(date);
                    const query = `query {
                        Positive(date:
                            "${date}"
                        ){
                            username
                            name
                            Date
                            trace
                        }
                    }`;
                    const data = await graphQLFetch(query, { date });
                    if(data.Positive.length!=0){
                        if(data.Positive.length > 1){//more than one diagnosed in one day
                            for(let j = 0; j < data.Positive.length; j++){
                                positiveTable.push(data.Positive[j]); //careful! dont make it string here
                            }
                        } else {
                            positiveTable.push(data.Positive);
                        }
                        
                    }
                }
                renderTable(positiveTable);        
            }
            
            
        </script>
    </body>

</html>