<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>boilerplate</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/layouts/app.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .checked {
      color: orange;
    }
    .marginAuto {
      margin: auto;
    }
  </style>

</head>

<body style="background-color: lightblue;">

  <%- include('./partials/tutor-navbar')%>

    <div class="container-fluid mt-3 pt-3">
      <div class="row">
        <!-- left part of the page -->
        <div id="contents" class="col-7 offset-1 p-3" style="background-color: whitesmoke">
          <div class="mt-3 pt-3">
            <div class="container">
              <div class="row">
  
                <div class="col-3 marginAuto tutorPhoto">
                  <img class="container-fluid" src='https://image.freepik.com/free-icon/important-person_318-10744.jpg' />
                </div>
  
                <div class="col-9">
                  <div class="h5">
                    <div class="d-flex justify-content-between">
                      <div id="username"></div>
                      <div>$<span id="price0"></span>-<span id="price1"></span>/hr</div>
                    </div>
                  </div>
                  <div class="text-muted" id="degree"></div>
                  <div class="stars mt-3">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
  
          <div class="pt-3 mt-3">
            <h5>About me</h5>
            <p id="intro">
            </p>
          </div>
  
          <div class="pt-3">
            <h5>Courses offered</h5>
            <!-- todo: courses -->
            <div id="wrapCourses"></div>
          </div>

          <!-- reviews -->
          <div class="pt-3 mt-3">
            <h5>Ratings & Reviews</h5>
            <div class="container-fluid">
              <div class="row border-bottom py-1">
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span class="fst-italic"><span id="numReviews"></span> reviews</span>
              </div>
    
              <div class="row border-bottom py-1">
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>

                <!-- todo: reviews -->
                <div id="wrapReviews"></div>

              </div>
            </div>
          </div>
        </div>




        <div class="col-4">
          <div class="container-fluid">
            <div class="row">
              <!-- right part of the page -->
              <div class="col-11  p-3  mt-3 pt-3" style="background-color: whitesmoke">
                <div class="text-center">
                  <h2>Send a message</h2>
                </div>
                <div class="form-group mb-3">
                  <label for="exampleFormControlTextarea1">Message</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                Hi Tom, I’m looking for a tutor. Are you available for a free meeting? I’d like to find out more about how you work. Looking forward to your reply!
                  </textarea>

                </div>
                <div class="input-group mb-3">
                  <div class="input-group-btn">
                    <label class="input-group-text" for="inputGroupSelect01">Course</label>
                  </div>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Choose course in interest below</option>
                    <option value="1">CS3443</option>
                    <option value="2">IT5001</option>
                    <option value="3">FT5309</option>
                  </select>
                </div>
                <div class="mb-3 d-grid gap-2 mt-3">
                  <button type="button" class="btn btn-info btn-lg btn-block">Send a Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>



    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
    <script src="../../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      function displayCourseInfo() {
        const courseDialog = document.querySelector("#courseDialog");
        courseDialog.show();
      }
      function closeSubmit() {
        const courseDialog = document.querySelector("#courseDialog");
        courseDialog.close();
      }
      // activate nav link
      (() => {
        var element = document.getElementById("navFind");
        element.classList.add("active");
      })();
    </script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <script src="https://unpkg.com/@babel/polyfill@7/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch@3.0.0/dist/fetch.umd.js"></script>
    <script src="../scripts/display-tutor.js"></script>
    <!-- <script src="../scripts/display-tutor-1.js"></script> -->
</body>

</html>