<% layout('layouts/boilerplate') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 mt-3 pt-3">
                <img class="container-fluid" src="./img/nus-map.png">
            </div>
            <div class="col-4">
                <div class="container-fluid mt-3 d-flex flex-column justify-content-between" style="background-color: orange; border-radius: 1em">
                    <div class="card-body mt-3">
                        <h5 class="card-title text-center mb-3">Dec 21st, 2021</h5>
                        <p class="card-text">Body temperature: 37.0°C</p>
                        <p class="card-text">Health status: yellow</p>
                    </div>
   
                </div>
                <div class="container-fluid mt-3 d-flex flex-column justify-content-between" style="background-color: orange; border-radius: 1em">
                    <div class="card-body mt-3">
                        <h5 class="card-title text-center mb-3">Bulletin</h5>
                        <p class="card-text">Yesterday, 15 tutors updated available time slots.</p>
                        <p class="card-text">Yesterday, 2 students of NUS were diagnosed with COVID-19. Students of CS3884 and ST5050 please monitor your health status and avoid contacts with others.</p>
                    </div>
   
                </div>

            </div>
        </div>
    </div>